@model MVC_Webshop.Models.Order


@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<h4>@Model.Id</h4>
<h4>Order</h4>
<div class="container">
	<div class="col">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="ShippingDate" class="control-label"></label>
				<input asp-for="ShippingDate" class="form-control" />
				<span asp-validation-for="ShippingDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ExpectedDelivery" class="control-label"></label>
				<input asp-for="ExpectedDelivery" class="form-control" />
				<span asp-validation-for="ExpectedDelivery" class="text-danger"></span>
			</div>
			<div class="form-group form-check">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="Shipped" /> @Html.DisplayNameFor(model => model.Shipped)
				</label>
			</div>
			<div class="form-group">
				<label asp-for="OrderDate" class="control-label"></label>
				<input asp-for="OrderDate" class="form-control" />
				<span asp-validation-for="OrderDate" class="text-danger"></span>
			</div>
			<div class="form-group mt-1">
				<input type="submit" value="Save" class="btn btn-primary" />
				<a asp-action="Index" class="btn btn-outline-info">Back to List</a>
			</div>
		</form>
	</div>
</div>

