@model MVC_Webshop.Models.Cart

@{
	ViewData["Title"] = "Details";
}
<div class="container">
	<h1>Details</h1>

	<div class="row">
		<h4>@Model.Id</h4>
	</div>
	<hr />
	<div>
		<a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-success">Edit</a>
		<a asp-action="Index" class="btn btn-outline-info">Back to List</a>
	</div>
</div>